.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.cim {
    text-align: left;
    font-size: 3vw;
    margin-bottom: 0.1vw;
    font-weight: bold;
    letter-spacing: 0.2vw;
}

.alkatrKeret {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 1vw;
    height: 31vw;
}

.korKep {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

.alkatNeve {
    margin-top: 0.1vw;
    font-size: 2vw;
}

.balraNyil, .jobbraNyil {
    position: absolute;
    top: 50%;
    font-size: 3vw;
    background-color: rgba(194, 52, 52, 0.99);
    border-radius: 100%;
    border: none;
    cursor: pointer;
    padding: 0.5vw;
    z-index: 1;
    color: black;
}

.balraNyil {
    left: -3vw;
}

.jobbraNyil {
    right: -3vw;
}

.cim_Menu{
    display: flex;
    flex-direction: row;
}

.szuroGomb{
    padding: 1vw 2vw;
    margin-right: 1%;
    margin-left: auto;
    margin-top: 2vw;
    margin-bottom: 0.3vw;
    font-size: 1.5vw;
    border-radius: 0% 30%;
    background-color: rgba(194, 52, 52, 0.8);
    border: none;
    color: black;
}

.szuroGomb:hover, .kereses:hover{
    background-color: rgba(211, 87, 87, 0.8);
    transition: background-color 0.8s;
}

.szuroMenu{
    background-color: rgba(190, 90, 90, 0.7);
    margin-top: 1vw;
    padding: 3vw;
    border-radius: 3vw 3vw 0vw 0vw;
}

.szuroMenu p{
    margin: 0;
    margin-top: 1vw;
    font-size: 2vw;
}

input{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1vw 0vw;
  font-size: 2vw;
}

select{
  font-size: 2vw;
}

.szuroMenu select, .szuroMenu input{
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
}

option {
  background-color: #a1272780;
}

option:hover{
  background-color: #a12727da;
}

.reszletek{
    width: 80%;
    margin: auto;
}

.kereses{
    background-color: rgb(194, 52, 52, 0.5);
    margin-top: 1vw;
    font-size: 2vw;
    width: 100%;
    border-radius: 1vw 0vw;
    color: black;
    border: none;
}

h2{
    font-size: 2vw;
}

.teljesReszletMenu{
    background-color: rgba(117, 84, 84, 0.7);
    padding: 3.5vw;
    border-radius: 2vw;
    margin-bottom: none;
}

.menuCimsor{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 0%;
}

.kivalasztottNeve{
    font-size: 2vw;
}

.hianyUzi{
    font-size: 1.5vw;
    margin: auto;
    font-weight: bold;
}

.gorgetoDiv{
    margin-bottom: 5vw;
}

@media (max-width: 767px){
    .korKep {
      width: 18vw;
      height: auto;
    }

    .alkatNeve {
      font-size: 4vw;
    }

    .alkatrKeret{
        height: 50vw;
        width: auto;
    }

    .balraNyil, .jobbraNyil{
        font-size: 5vw;
    }

    .szuroGomb{
        font-size: 4vw;
    }

    .cim{
        font-size: 5vw;
    }

    select{
        color: black;
    }

    .szuroMenu p{
        font-size: 4vw;
    }

    .szuroMenu select, .szuroMenu input{
       font-size: 3vw;
    }

    .szuroMenu input{
        width: 95%;
    }
}

@media (min-width: 1500px){
    .container{
        width: 60%;
    }
}