.kivalasztottak{
    margin: 5vw;
    padding: 2vw;
    background-color: rgba(46, 41, 41, 0.459);
    border-radius: 3vw 0vw;
}

.combo{
    background-color: rgba(255, 255, 255, 0.1);
    width: auto;
    margin: 1vw;
}

.kivSor{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
}

.sajGomb{
    padding: 0vw 2vw;
    font-size: 1.5vw;
    margin: 1vw;
    border-radius: 0% 30%;
    background-color: rgba(224, 75, 75, 0.8);
    border: none;
    color: black;
    width: auto;
}

.kivalszto{
    margin: 3vw;
    padding: 2vw;
    background-color: rgba(46, 41, 41, 0.459);
    border-radius: 0vw 3vw;
}

.szur{
    padding: 1vw 2vw;
    font-size: 2vw;
    width: 100%;
    margin: 1vw;
    border-radius: 1vw 5vw;
    background-color: rgba(224, 75, 75, 0.8);
    border: none;
    color: black;
}
.szur:hover{
    background-color: rgb(194, 52, 52);
}

.kompat{
    margin: auto;
    position: relative;
    width: 70%;
}

.balraNyil {
    left: -1.5vw;
}

.jobbraNyil {
    right: -1.5vw;
}

.alkatrKeret {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 1vw;
    height: auto;
}

.korKepKeret{
    padding: 1.5vw;
    background-color: rgba(190, 90, 90, 0.8);
    border: 0.5vw solid rgba(124, 39, 39, 0.5);
    border-radius: 1vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.korKepKeret:hover{
    background-color: rgba(247, 147, 147, 0.8);
    border: 0.5vw solid rgba(146, 146, 146, 0.5);
}

.kivalasztottak{
    width: 60%;
    margin: auto;
    margin-top: 3vw;
}

@media (max-width: 767px){
    .kivSor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px rgba(184, 70, 70, 0.8) solid;
    }

    select{
        font-size: 3.5vw;
    }

    .sajGomb{
        width: 90%;
        font-size: 3vw;
    }

    .soreCime{
        font-size: 4.5vw;
    }
}

@media (min-width: 1500px){
    h1{
        font-size: 2.1vw;
    }
    .reszletGomb{
        font-size: 1vw
    }
}

