.conti{
    background-color: rgba(51, 37, 37, 0.473); 
    padding: 3.5vw;
    border-radius: 2vw;
    margin: auto;
    margin-top: 2vw;
}

.teljes{
    margin: 10vw;
}

.tipCim{
    font-size: 5vw;
}

.gorg{
    margin-top: 10vw;
}

.elemNeve, .elemErteke{
    font-size: 2.5vw;
}

@media (max-width: 767px){
    .tipCim{
        font-size: 8vw;
    }

    .elemNeve, .elemErteke{
        font-size: 4vw;
    }

    .sor{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1500px){
    .teljes{
        width: 70%;
        margin: auto;
    }
    .conti{
        width: 70%;
    }
}