.osszeshez{
    position: fixed;
    left: 1vw;
    bottom: 3vw;
    padding: 0.3vw 0.5vw;
    background-color: #8c2121b4;
    color: white;
    border: none;
    border-radius: 15vw;
    cursor: pointer;
    font-size: 2vw;
    padding: 1vw;
}

.osszeshez:hover{
    background-color: #8c2121;
}

@media (max-width: 767px){
    .osszeshez{
        bottom: 10vw;
        font-size: 4vw;
    }
}