.kartyak {
  display: flex;
  margin: 1vw;
  gap: 1em;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.korKepKeret{
  padding: 1.5vw;
  background-color: rgb(194, 52, 52, 0.4);
  border: 0.5vw solid rgba(194, 52, 52, 0.4);
  border-radius: 1vw;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.korKepKeret:hover{
  background-color: rgba(204, 82, 82, 0.705);
  transition: background-color 1s;
  transform: translateY(-0.5vw);
}

.korKep{
  border-radius: 200vw;
  border: black 1vw solid;
  width: 70%;
}

.appNeve{
  font-size: 3vw;
  font-weight: bold;
}

.katNeve{
  font-size: 1.5vw;
}

button:hover{
  cursor: pointer;
}

.reszletGomb{
  padding: 1vw 2vw;
  margin-right: 1%;
  margin-left: auto;
  margin-top: 1vw;
  margin-bottom: 0.3vw;
  font-size: 1.5vw;
  border-radius: 0% 30%;
  background-color: rgba(194, 52, 52, 0.8);
  border: none;
  color: black;
}
.reszletGomb:hover{
  background-color: rgba(216, 108, 108, 0.8);
}

@media (max-width: 767px){
  #kartyak{
    margin-bottom: 8vw;
  }

  .appNeve{
    font-size: 5vw;
    font-weight: bold;
  }
  
  .katNeve{
    font-size: 4vw;
  }

  .reszletGomb{
    font-size: 3vw;
  }
}

@media (min-width: 768px){
  .alKorKepKeret{
    width: 15vw;
  }
}

@media (min-width: 1500px){
  .korKep{
    width: 60%;
  }
  
  .appNeve{
    font-size: 2vw;
    font-weight: bold;
  }
  
  .katNeve{
    font-size: 1vw;
  }  
  
  .reszletGomb{
    padding: 1vw;
    margin:0vw;
    
  }
}