#fel{
  position: fixed;
  bottom: 3vw;
  left: 0.8vw;
  padding: 0.3vw 0.5vw;
  background-color: #8c2121;
  color: white;
  border: none;
  border-radius: 15vw;
  cursor: pointer;
  font-size: 2vw;
  padding: 1vw;
}

@media (max-width: 767px){
  #fel{
    bottom: 8vw;
  }
}