.fel{
  position: fixed;
  bottom: 3vw;
  left: 0.8vw;
  padding: 0.3vw 0.5vw;
  background-color: rgba(165, 67, 67, 0.8);
  color: rgba(255, 255, 255, 0.644);
  border: none;
  border-radius: 15vw;
  cursor: pointer;
  font-size: 2vw;
  padding: 1vw;
}

@media (max-width: 767px){
  .fel{
    bottom: 8vw;
    font-size: 5vw;
  }
}