.korKepKeret{
  padding: 1.5em;
  background-color: rgb(194, 52, 52, 0.4);
  border: 0.5em solid rgba(194, 52, 52, 0.4);
  border-radius: 1em;
  width: 21em;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.korKep{
  border-radius: 200em;
  border: black 1em solid;
  width: 90%;
}

.kezd{
  text-align: center;
  text-decoration: none;
  color: white;
}

.row{
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 5em;
}

.szoveg{
  padding: 5em;
  font-size: large;
}

@media (max-width: 767px) {
  .ketOszlop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1em;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
  }

  .balOszlop, .jobbOszlop {
    flex: 0;
    padding: 0.5em;
    border-radius: 3em 0em;
    width: 100%;
    box-sizing: border-box;
  }

  .korKepKeret {
    width: 90%;
    max-width: 15em;
    padding: 1em;
  }

  .korKep {
    width: 80%;
    border-width: 0.5em;
  }

  .kezd {
    font-size: 0.8em;
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .ketOszlop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1em;
    padding: 1em;
  }
  
  .balOszlop, .jobbOszlop {
    flex: 0;
  }
  
  .balOszlop {
    padding: 1em;
    background-color: rgb(194, 52, 52, 0.8);
    border-radius: 3em 0em;
  }    
}

@media (min-width: 1200px) {
  .ketOszlop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1em;
    padding: 1em;
  }
  
  .balOszlop, .jobbOszlop {
    flex: 1; 
  }
  
  .balOszlop {
    padding: 1em;
    background-color: rgb(194, 52, 52, 0.8);
    border-radius: 3em 0em;
  }     
}